<!DOCTYPE html>
<html>
<link rel="stylesheet" href="http://127.0.0.1:8080/static/landing.css">
<head>
    <title>Stock Prediction App</title>
</head>
<body>
    <div id="app">
        <div id="wrapper">
            <!-- Make sure data-text equals the text you put inside the tags. -->
            <h1 class="glitch" data-text="Stock Prediction">Stock Prediction</h1>
        </div>
    </div>
    <br>
    <br>
    <form action="/predict" method="GET">
        <label for="stock_name"><h1>Select a stock:</h1></label>
        <hr>
        <select name="stock_name" id="stock_name">
            <option value="TATAMOTORS">TATAMOTORS</option>
            <option value="HCLTECH">HCLTECH</option>
            <option value="POWERGRID">POWERGRID</option>
            <option value="HDFCLIFE">HDFCLIFE</option>
            <option value="EICHERMOT">EICHERMOT</option>
            <option value="BAJAJ-AUTO">BAJAJ-AUTO</option>
            <option value="TECHM">TECHM</option>
            <option value="NTPC">NTPC</option>
            <option value="SBILIFE">SBILIFE</option>
            <option value="AXISBANK">AXISBANK</option>
            <option value="LT">LT</option>
            <option value="KOTAKBANK">KOTAKBANK</option>
            <option value="BRITANNIA">BRITANNIA</option>
            <option value="INFY">INFY</option>
            <option value="WIPRO">WIPRO</option>
            <option value="HEROMOTOCO">HEROMOTOCO</option>
            <option value="NESTLEIND">NESTLEIND</option>
            <option value="ADANIENT">ADANIENT</option>
            <option value="HINDALCO">HINDALCO</option>
            <option value="TCS">TCS</option>
            <option value="ICICIBANK">ICICIBANK</option>
            <option value="DRREDDY">DRREDDY</option>
            <option value="BHARTIARTL">BHARTIARTL</option>
            <option value="RELIANCE">RELIANCE</option>
            <option value="JSWSTEEL">JSWSTEEL</option>
            <option value="GRASIM">GRASIM</option>
            <option value="ADANIPORTS">ADANIPORTS</option>
            <option value="TATASTEEL">TATASTEEL</option>
            <option value="HDFCBANK">HDFCBANK</option>
            <option value="TATACONSUM">TATACONSUM</option>
            <option value="APOLLOHOSP">APOLLOHOSP</option>
            <option value="HDFC">HDFC</option>
            <option value="COALINDIA">COALINDIA</option>
            <option value="ASIANPAINT">ASIANPAINT</option>
            <option value="TITAN">TITAN</option>
            <option value="CIPLA">CIPLA</option>
            <option value="ITC">ITC</option>
            <option value="MARUTI">MARUTI</option>
            <option value="SBIN">SBIN</option>
            <option value="UPL">UPL</option>
            <option value="HINDUNILVR">HINDUNILVR</option>
            <option value="ULTRACEMCO">ULTRACEMCO</option>
            <option value="ONGC">ONGC</option>
            <option value="INDUSINDBK">INDUSINDBK</option>
            <option value="DIVISLAB">DIVISLAB</option>
            <option value="BPCL">BPCL</option>
            <option value="M_M">M&M</option>
            <option value="SUNPHARMA">SUNPHARMA</option>
            <option value="BAJAJFINSV">BAJAJFINSV</option>
            <option value="BAJFINANCE">BAJFINANCE</option>
            <!-- Add more options for other stocks -->
        </select>
        <br>
        <script></script>
        <input type="submit" value="Predict">
    </form>
    <div>
        <!-- {{sentiment}} -->
    </div>
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function() {
        let i;
        x=document.getElementById("sent")
        for(i=0;i<length(stockl);i++){
            x.appendChild(stockl[i],sentiment[i])
        }});
    </script> -->
</body>
<!-- <footer>This site or its users do not claim to offer any financial advice</footer> -->
</html>
